<table class="table table-bordered"> 
  <tr>
    <th>Sport Name</th>
    
    <th>Change It</th>
    <th>Remove It</th>
  </tr>
  <% @sports.each do |sport| %>
    <tr>
      <td><%= sport.name %></td>
      
      <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
      <td><%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br/>