<div style="padding-top:60px;" class="contents"> 
  <div class="container">
		<div class="row centered">
			<h1>Create Availability</h1>
			<p>Below select a sport, a date and a time frame you are available to play.</p>
		</div>
		<%= render 'form2' %>
		<%= link_to 'Back', meetings_path %>
	</div>
</div>
