<div class="contents"> 
  <div class="container">
    <div id="dg">
      <%= simple_form_for @sport do |f| %>
        
          <div id="sln" class="field">
           <%#= f.collection_select :sport_id, @sports, :id, :name  %>
           <%= f.select :name, collection: ["Golf", "Tennis", "Squash", "Workout"]%><br>
          </div><br/>
          
          <div id="sln" class="field">
           <%#= f.select :rating, collection: ["Not Bad", "Average", "Good", "Great"]%><br>
          </div><br/>
          <div class="field">
            <%#= f.collection_select :user_id, @skill, :id, :newbie %>
              <%#= f.hidden_field :user_id, value: current_user.id %>
          
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
    </div>
  </div>
</div>
