<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add A Sport</h4>
          </div>
          <div class="modal-body">
           
          <%= simple_form_for @user_sport do |f| %>
        
                  <div id="sln" class="field">
                   <%= f.collection_select(:sport_id, Sport.all, :id, :name)  %>
                   <%#= f.select :name, collection: ["Basketball", "Golf", "Tennis", "Squash", "Workout"]%><br>
                  </div><br/>
                  
                  
                  <div class="field">
                    <%#= f.collection_select :user_id, @skill, :id, :newbie %>
                      <%#= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.select :rating, collection: ["Beginner", "Intermediate", "Advanced", "Expert", "World-Class"]%>
                  </div><br/>
                  <div class="actions">
                    <%= f.submit %>
                  </div>
                <% end %>
           
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Save</button> -->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->