<table class="table table-bordered"> 
  <tr>
    <th>Sport Name</th>
    <th>Skill Level</th>
    <th>Change It</th>
    <th>Remove It</th>
  </tr>
  
  <% @user_sports.each do |user_sport| %>
    <tr>
      <td><%= user_sport.sport.name %></td>
       <td><%= user_sport.rating %></td>
      <td><%= link_to 'Edit', edit_user_sport_path(user_sport) %></td>
      <td><%= link_to 'Destroy', user_sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>

<br/>