.contents{

	min-height:700px;
}


#profpic img{

	height:145px;
	float:left;
	margin-right:10px;
	width: 125px;
}

#uname{

	font-size:22px;
	font-weight:bold;
	margin:-25px 0px -6px 15px;
}

#uemail{

	margin-bottom:-6px;
}

#uzip{

	margin-bottom:-6px;
}


/*Header************************/

.beta{
  color:#ff7878;
  font-size:14px;
  font-style:italic;
  margin:0px 0px 0px 5px;
}

#logo{

  margin-top:0px;
}


/*HOME PAGE**********************/

#regbut1{

  margin-top:25px;
}

/*DASHBoARD**********************/

th{

  text-align:center;
}


.mytime{

  background-color:grey;
  color:white;
  border:1px solid black;
  float:left;
  padding:20px 30px 20px 30px;
  margin-right:25px;
  margin-bottom:25px;
}


.mytime:hover, #selected_mytime, .QuickStartLong:hover {
    background: blue;
    color:grey;
    font-weight:bold;
    
}


#thetime{

  
  list-style:none;
  margin-bottom:10px;
}

#matchit{

  margin-top:10px;
}


#mytime2{

  background:blue;
  color:white;
  border:1px solid black;
  float:left;
  padding:20px 30px 20px 30px;
  margin-right:25px;
  margin-bottom:25px;
}

#mytime2:hover {
    background: blue;
    color:grey;
    font-weight:bold;
}


#thetime2{

  
  list-style:none;
  margin-bottom:10px;
}




/*SPORTS NEW EDIT**************************/

#spn input{
	


}

#sln{

}




#propic img{
  border:3px solid white;
  height:220px;
  width:180px;
}


#invitez{

  margin-top:10px;
}