.contents{

	min-height:700px;
}


#profpic img{

	height:145px;
	float:left;
	margin-right:10px;
	width: 125px;
}

#uname{

	font-size:22px;
	font-weight:bold;
	margin:-25px 0px -6px 15px;
}

#uemail{

	margin-bottom:-6px;
}

#uzip{

	margin-bottom:-6px;
}


/*Header************************/

.beta{
  color:#ff7878;
  font-style:italic;
  margin:0px 0px 0px 130px;
}

#logo{

  margin-top:-30px;
}

/*SPORTS NEW EDIT**************************/

#spn input{
	


}

#sln{

}

/*TIME PICKER************************/


.bfh-timepicker-popover {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.bfh-timepicker-popover > table {
  width: 180px;
  margin: 0;
}

.bfh-timepicker-popover > table > tbody > tr > td {
  text-align: center;
  border: 0;
}

.bfh-timepicker-popover > table > tbody > tr > td.separator {
  font-size: 20px;
  font-weight: bold;
  line-height: 65px;
}

.bfh-timepicker-popover > table > tbody > tr > td > input {
  width: 60px;
  margin: 0;
  text-align: center;
  cursor: default;
}

.bfh-timepicker {
  position: relative;
}

.bfh-timepicker-toggle {
  *margin-bottom: -3px;
}

.bfh-timepicker-toggle > input[readonly] {
  cursor: inherit;
  background-color: inherit;
}

.open > .bfh-timepicker-popover {
  display: block;
}